extends baseEmail

block content
  p Olá #{firstName},
  p Esqueceu sua senha? Envie uma solicitação PATCH com sua nova senha e confirme a senha para: #{url}.
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Redefinir sua senha
  p Se você não esqueceu sua senha, ignore este e-mail!
