footer.footer
  .footer__logo
    img(src='/img/logo-green.png' alt='Natour logo')
  ul.footer__nav
    li: a(href='#') Sobre nós
    li: a(href='#') Torne-se um guia
    li: a(href='#') Carreiras
    li: a(href='#') Contato
  p.footer__copyright &copy; by Alberto Dgedge. 