doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet', href='/css/plugins/style.css')
      link(rel='icon', href='/images/logo-1 (1).ico', type='image/x-icon')
      link(rel='stylesheet', href='/fonts/phosphor/duotone/style.css')
      link(rel='stylesheet', href='/fonts/tabler-icons.min.css')
      link(rel='stylesheet', href='/fonts/fontawesome.css')
      link(rel='stylesheet', href='/fonts/material.css')
      link(rel='stylesheet', href='/css/plugins/image-cover.css')
      link(rel='stylesheet', href='/css/multiple-images.css')
      link#main-style-link(rel='stylesheet', href='/css/style.css')
      link(rel='stylesheet', href='/css/style-preset.css')
      link(rel='stylesheet', href='/css/plugins/uppy.min.css')

      title Wenner | #{title}

  body(data-pc-preset='preset-1', data-pc-sidebar-caption='true', data-pc-layout='vertical', data-pc-direction='ltr', data-pc-theme_contrast='', data-pc-theme='light')
    
    // HEADER
    include _sidebar

    // HEADER
    include _header

    // CONTENT
    block content
      h1 Este é um título de espaço reservado

    // FOOTER
    include _footer

    script(src='/js/bundle.js')
    script(src='/js/plugins/image-cover.js')
    script(src='/js/plugins/multiple-images.js')
    script(src='/js/plugins/popper.min.js')
    script(src='/js/plugins/simplebar.min.js')
    script(src='/js/plugins/bootstrap.min.js')
    script(src='/js/fonts/custom-font.js')
    script(src='/js/plugins/pcoded.js')
    script(src='/js/plugins/feather.min.js')
    script(src='/js/plugins/uppy.min.js')
   
    script.
      layout_change("light");
    script.
      change_box_container("false");
    script.
      layout_caption_change("true");
    script.
      layout_rtl_change("false");
    script.
      preset_change("preset-1");
    script.
      main_layout_change("vertical");
    .pct-c-btn
      a(href='#', data-bs-toggle='offcanvas', data-bs-target='#offcanvas_pc_layout')
        i.ph-duotone.ph-gear-six
    #offcanvas_pc_layout.offcanvas.border-0.pct-offcanvas.offcanvas-end(tabindex='-1')
      .offcanvas-header
        h5.offcanvas-title Configurações
        button.btn.btn-icon.btn-link-danger.ms-auto(type='button', data-bs-dismiss='offcanvas', aria-label='Close')
          i.ti.ti-x
      .pct-body.customizer-body
        .offcanvas-body.py-0
          ul.list-group.list-group-flush
            li.list-group-item
              .pc-dark
                h6.mb-1 Modo Tema
                p.text-muted.text-sm
                  | Escolha o modo claro ou escuro ou Automático
                .row.theme-color.theme-layout
                  .col-4
                    .d-grid
                      button.preset-btn.btn.active(data-value='true', onclick="layout_change('light');", data-bs-toggle='tooltip', title='Light')
                        svg.pc-icon.text-warning
                          use(xlink:href='#custom-sun-1')
                  .col-4
                    .d-grid
                      button.preset-btn.btn(data-value='false', onclick="layout_change('dark');", data-bs-toggle='tooltip', title='Dark')
                        svg.pc-icon
                          use(xlink:href='#custom-moon')
                  .col-4
                    .d-grid
                      button.preset-btn.btn(data-value='default', onclick='layout_change_default();', data-bs-toggle='tooltip', title="Automatically sets the theme based on user's operating system's color scheme.")
                        span.pc-lay-icon.d-flex.align-items-center.justify-content-center
                          i.ph-duotone.ph-cpu
            li.list-group-item
              h6.mb-1 Contraste do tema
              p.text-muted.text-sm Escolha o contraste do tema
              .row.theme-contrast
                .col-6
                  .d-grid
                    button.preset-btn.btn(data-value='true', onclick="layout_theme_contrast_change('true');", data-bs-toggle='tooltip', title='True')
                      svg.pc-icon
                        use(xlink:href='#custom-mask')
                .col-6
                  .d-grid
                    button.preset-btn.btn.active(data-value='false', onclick="layout_theme_contrast_change('false');", data-bs-toggle='tooltip', title='False')
                      svg.pc-icon
                        use(xlink:href='#custom-mask-1-outline')
            li.list-group-item
              h6.mb-1 Layout do tema
              p.text-muted.text-sm Escolha seu layout
              .theme-main-layout.d-flex.align-center.gap-1.w-100
                a.active(href='#!', data-bs-toggle='tooltip', title='Vertical', data-value='vertical')
                  img.img-fluid(src='/images/customizer/caption-on.svg', alt='img')
                a(href='#!', data-bs-toggle='tooltip', title='Horizontal', data-value='horizontal')
                  img.img-fluid(src='/images/customizer/horizontal.svg', alt='img')
                a(href='#!', data-bs-toggle='tooltip', title='Color Header', data-value='color-header')
                  img.img-fluid(src='/images/customizer/color-header.svg', alt='img')
                a(href='#!', data-bs-toggle='tooltip', title='Compact', data-value='compact')
                  img.img-fluid(src='/images/customizer/compact.svg', alt='img')
                a(href='#!', data-bs-toggle='tooltip', title='Tab', data-value='tab')
                  img.img-fluid(src='/images/customizer/tab.svg', alt='img')
            li.list-group-item
              h6.mb-1 Legenda da barra lateral
              p.text-muted.text-sm Ocultar/Mostrar legenda da barra lateral
              .row.theme-color.theme-nav-caption
                .col-6
                  .d-grid
                    button.preset-btn.btn-img.btn.active(data-value='true', onclick="layout_caption_change('true');", data-bs-toggle='tooltip', title='Caption Show')
                      img.img-fluid(src='/images/customizer/caption-on.svg', alt='img')
                .col-6
                  .d-grid
                    button.preset-btn.btn-img.btn(data-value='false', onclick="layout_caption_change('false');", data-bs-toggle='tooltip', title='Caption Hide')
                      img.img-fluid(src='/images/customizer/caption-off.svg', alt='img')
            li.list-group-item
              .pc-rtl
                h6.mb-1 Layout do tema
                p.text-muted.text-sm LTR/RTL
                .row.theme-color.theme-direction
                  .col-6
                    .d-grid
                      button.preset-btn.btn-img.btn.active(data-value='false', onclick="layout_rtl_change('false');", data-bs-toggle='tooltip', title='LTR')
                        img.img-fluid(src='/images/customizer/ltr.svg', alt='img')
                  .col-6
                    .d-grid
                      button.preset-btn.btn-img.btn(data-value='true', onclick="layout_rtl_change('true');", data-bs-toggle='tooltip', title='RTL')
                        img.img-fluid(src='/images/customizer/rtl.svg', alt='img')
            li.list-group-item.pc-box-width
              .pc-container-width
                h6.mb-1 Largura do layout
                p.text-muted.text-sm
                  | Escolha o layout completo ou contêiner
                .row.theme-color.theme-container
                  .col-6
                    .d-grid
                      button.preset-btn.btn-img.btn.active(data-value='false', onclick="change_box_container('false')", data-bs-toggle='tooltip', title='Full Width')
                        img.img-fluid(src='/images/customizer/full.svg', alt='img')
                  .col-6
                    .d-grid
                      button.preset-btn.btn-img.btn(data-value='true', onclick="change_box_container('true')", data-bs-toggle='tooltip', title='Fixed Width')
                        img.img-fluid(src='/images/customizer/fixed.svg', alt='img')
            li.list-group-item
              .d-grid
                button#layoutreset.btn.btn-light-danger
                  | Redefinir layout