doctype html
html(lang='en')
  // [Head] start
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1,user-scalable=0,minimal-ui')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    link(rel='icon' href='./images/logo-1 (1).ico' type='image/x-icon')
    link(rel='stylesheet' href='./fonts/phosphor/duotone/style.css')
    link(rel='stylesheet' href='./fonts/tabler-icons.min.css')
    link(rel='stylesheet' href='./fonts/feather.css')
    link(rel='stylesheet' href='./fonts/fontawesome.css')
    link(rel='stylesheet' href='./fonts/material.css')
    link#main-style-link(rel='stylesheet' href='./css/style.css')
    link(rel='stylesheet' href='./css/style-preset.css')

    title Wenner | #{title}

  body(data-pc-preset='preset-1' data-pc-sidebar-caption='true' data-pc-layout='vertical' data-pc-direction='ltr' data-pc-theme_contrast='' data-pc-theme='light')

    .auth-main
      .auth-wrapper.v1
        .auth-form
          .card.my-5
            .card-body
              .d-flex.justify-content-between.align-items-end.mb-4
                a(href='#')
                  img.img-fluid(src='./images/logo-1.jpg', width='120px', alt='img')
                a.link-dark(href='/login') Voltar ao Login
              form.form--forgot-password
                .mb-3
                  label.form-label Endere&ccedil;o de email
                  input#email.form-control(type='email', placeholder='Endereço de email' required)
                p.mt-4.text-sm.text-muted
                  | N&atilde;o esque&ccedil;a de marcar a caixa de SPAM.
                .d-grid.mt-3
                  button.btn.btn-dark(type='submit')
                    | Enviar e-mail de redefini&ccedil;&atilde;o de senha


    script(src='/js/bundle.js')
    .pct-c-btn
      a(href='#' data-bs-toggle='offcanvas' data-bs-target='#offcanvas_pc_layout')
        i.ph-duotone.ph-gear-six
    #offcanvas_pc_layout.offcanvas.border-0.pct-offcanvas.offcanvas-end(tabindex='-1')
      