doctype html
html(lang='en')
  // [Head] start
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1,user-scalable=0,minimal-ui')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    link(rel='icon' href='/images/logo-1 (1).ico' type='image/x-icon')
    link(rel='stylesheet' href='/fonts/phosphor/duotone/style.css')
    link(rel='stylesheet' href='/fonts/tabler-icons.min.css')
    link(rel='stylesheet' href='/fonts/feather.css')
    link(rel='stylesheet' href='/fonts/fontawesome.css')
    link(rel='stylesheet' href='/fonts/material.css')
    link#main-style-link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet' href='/css/style-preset.css')

    title Wenner | #{title}

  body(data-pc-preset='preset-1' data-pc-sidebar-caption='true' data-pc-layout='vertical' data-pc-direction='ltr' data-pc-theme_contrast='' data-pc-theme='light')

    .auth-main
      .auth-wrapper.v1
        .auth-form
          .card.my-5
            .card-body
              form.form--reset-password
                a(href='#')
                  img.mb-4.img-fluid(src='/images/logo-1.jpg' width='140px' alt='img')
                .mb-4
                  h3.mb-2
                    b Redefinir senha
                  p.text-muted Por favor escolha sua nova senha
                .mb-3
                  label.form-label Senha
                  |  
                  input.form-control(type='password' id='password' name='password' placeholder='Senha')
                  input(type='hidden' id='token'  name='token' value=`${token}`)
                .mb-3
                  label.form-label Confirme sua senha
                  |  
                  input.form-control(type='password' id='passwordConfirm' name='passwordConfirm' placeholder='Confirmar Senhar')
                .d-grid.mt-4
                  button.btn.btn-dark(type='submit') Redefinir senha
    //- script(src='https://js.stripe.com/v3/')
    script(src='/js/bundle.js')
    .pct-c-btn
      a(href='#' data-bs-toggle='offcanvas' data-bs-target='#offcanvas_pc_layout')
        i.ph-duotone.ph-gear-six
    #offcanvas_pc_layout.offcanvas.border-0.pct-offcanvas.offcanvas-end(tabindex='-1')
      